<div class="login-container">

    <h1 class="title">BIENVENIDOS A SU PLATAFORMA DE GESTION DE REUNIONES</h1>
  <!-- Caja de login -->
  <div class="login-card">
    <div class="avatar">
      <span class="user-icon">👤</span>
    </div>

    <form>
      <div class="form-group">
        <input type="text" placeholder="Username" required />
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" required />
      </div>

      <button type="submit" class="login-btn">LOGIN</button>
    </form>

    <p class="footer-text">Forgot your password?</p>
  </div>

  <!-- Fondo con ondas -->
  <div class="wave wave1"></div>
  <div class="wave wave2"></div>
</div>
